{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="details">
      
      <h3>L511_ECH1 Lub - Lubrificação da Placa Carrossel</h3>

      <div class="item">
        <div>Periodicidade</div>
        <div>24h</div>
      </div>

      <div class="item">
        <div>Horimetro Atual</div>
        <div>35235h</div>
      </div>

      <div class="item">
        <div>Próxima Atividade</div>
        <div>35170h</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          <span>52</span>
        </div>
      </div>
      
      <div class="item-button">
        <div>
          <button type="submit">Procedimento</button>
        </div>
        <div>
          <button type="submit">Atividade Realizada</button>
        </div>
      </div>

    </section>
    
  </div>
{% endblock content %}