{% extends "layout.njk" %}

{% block content %}
  <div class="home">
    <h1>New Book CIL</h1>
    <p class="curitibana">Curitibana</p>
    <p>Facilitando as rotinas operacionais.</p>
  </div>

{% endblock content %}