{% extends "layout.njk" %}

{% block content %}
  <div class="card table-container">
    <a href="/utilidades/create">Novo</a>
    <table width="100%">
      <thead>
        <tr>
          <th>Atividade</th>
          <th>Status</th>
          <th>Gap</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for activity in activities %}
          <tr>
            <td>
              {%for machine in machines %}
                {% if activity.machine_id == machine.id %} 
                  {{machine.name}} - {{machine.tag}} 
                {%endif%}   
              {% endfor %} 
              - {{activity.description}}
            </td>
            <td>
              {% if activity.status === 1%}
                Ativo
              {% endif %}
               {% if activity.status === 0%}
                Não Ativo
              {% endif %}
            </td>
            <td>
              {%for machine in machines %}
                {% if activity.machine_id == machine.id %} 
                  {{activity.horimetro_proxima - (machine.horimetro )}}
                {%endif%}   
              {% endfor %} 
            </td>
            <td><a href="/utilidades/{{activity.id}}">ver</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    setTimeout(function(){ location.reload(); }, 180000);
  </script>
  
{% endblock content %}