{% extends "layout.njk" %}

{% block content %}

  <div class="card">
    
    <section class="details">
    
      <form method="POST" action="/utilidades?_method=PUT" enctype="multipart/form-data">
        
        <h3>Editar Atividade {{activity.id}}</h3>

        {% include 'utilidades/fields.njk' %}

        <input type="hidden" name="id" value="{{activity.id}}">
        
      </form>

    </section>
  </div>

{% endblock content %}