{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="details">
      
      <h3>Detalhes</h3>

      <h1>{{activity.equipamento}} - {{activity.tag}} - {{activity.description}}</h1>

      <div class="item">
        <div>Periodicidade</div>
        <div>{{activity.id}} H</div>
      </div>

      <div class="item">
        <div>Horimetro Atual</div>
        <div>35170h</div>
      </div>

      <div class="item">
        <div>Próxima Atividade</div>
        <div>35182h</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          <span>{{activity.periodicidade}} H</span>
        </div>
      </div>
      
      <div class="item-button">
        <div>
          {% for file in files%}
            <button type="submit">
              <a href="{{file.src}}" target='_blank'>Procedimento</a>
            </button>
          {% endfor %}
        </div>
        <div>
          <button type="submit">
            <a href="/executions/{{ activity.id }}/create" >Atividade Realizada</a>
          </button>
        </div>
      </div>

      <a href="/utilidades/{{ activity.id }}/edit" class="button">Editar</a>

    </section>
  </div>
{% endblock content %}