{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="details">
      
      <h3>Detalhes</h3>

      <div class="item">
        <div>Supervisor</div>
        <div>{{user.name}}</div>
      </div>

      <div class="item">
        <div>Id Ambev</div>
        <div>{{user.idambev}}</div>
      </div>

      <div class="item">
        <div>Área</div>
        {% for area in  areas %}
         <div>
            {% if user.area_id == area.id %} 
              {{area.name}}
            {%endif%}
          </div>
        {% endfor %}
      </div>

      <div class="item">
        <div>Desde</div>
        <div>{{user.created_at}}</div>
      </div>

      <a href="/users/{{ user.id }}/edit" class="button">Editar</a>

    </section>
  </div>
{% endblock content %}