{% extends "layout.njk" %}

{% block content %}
  <form class="card" method="POST" action="/execucoes">
    <section class="details">
      
      <h3>Realizar Atividade</h3>

      {% include 'execucoes/fields.njk' %}

    </section>
  </form>
{% endblock content %}