@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --color-ambev: #000;
  --color-secundary: rgb(194, 193, 191);
  --color-status: #F7DF1E;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;

  text-decoration: none;
  list-style-type: none;
}

html, body {
  min-height: 100vh;
}

body {
  background-color: var(--color-secundary);
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
}

footer {
  margin-top: auto;
}

/* HEADER */
header, footer{
  background-color: #fff;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

footer {
  padding: 20px 0;
  font-size: 15px;
}

header div.container {
  display: grid;
  grid-template-columns: 170px 1fr;
  align-items: center;
  grid-gap: 24px;
}

header div.container a {
  justify-self: flex-start;
}

/* LOGO */ 
.logo img{
  width: 150px;
}

/* PRIMARY MENU */
nav.primary ul {
  display: flex;
  justify-content: space-between;
}

nav.primary ul li a{
  display: flex;
  position: relative;
  align-items: center;
  color: #777;
  font-size: 19px;
}

nav.primary ul li a.active {
  font-weight: bold;
  color: var(--color-ambev);
}

nav.primary ul li a:hover {
  color: var(--color-ambev);
}

nav.primary ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-ambev);
  position: absolute;
  left: 0;
  bottom: -4px;
}

nav.primary ul li a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

nav.primary ul li a i{
  margin-right: 8px;
}

.links {
  font-size: 19px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: #777;
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--color-ambev);
}

.links a:hover {
  color: var(--color-ambev);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-ambev);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

/*=== HOME ===*/
.home h1 {
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
  font-size: 3.8em;
  padding-bottom: 0;
}

.home .curitibana {
  font-size: 1.2em;
  padding-bottom: 60px;
  text-transform: uppercase;
  font-weight: 700;
}

.home p {
  text-align: center;
  box-sizing: border-box;
  font-size: 1.8em;
}

/*=== CARD ===*/
.card {
  background-color: #fff;
  width: 800px;
  min-height: 400px;
  border-radius: 6px;

  margin: 45px auto;

  /* sombra do card */
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

  /* animation card */
  animation-name: up;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

/*=== DETAILS ===*/
.details {
  padding: 32px;
}

.details .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 0;
}

.details .item:last-child {
  border: none;
} 

.details h3,
.details .item div:nth-child(1) {
  font-size: 16px;
  line-height: 24px;
  color: #777;
  letter-spacing: 0.7px;
  font-weight: 400;
}

.details .item > div:nth-child(1) {
 text-transform: uppercase;
}

.details .item .error div:nth-child(2) {
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-rocket);
}

.details .item div:nth-child(2) span {
  padding: 8px 16px;
  background-color: rgb(164 216 151);
  border-radius: 16px;
  color: var(--color-ambev);
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.details .item div:nth-child(2) .status {
  width: 20%;
  padding: 8px 16px;
  background-color: var(--color-status);
  border-radius: 16px;
  color: var(--color-ambev);
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.details .item-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details .item-button a button:hover {
  background: #777;
  transition: width 200ms ease-in-out;
}

.details .item-button div:nth-child(1) {
  padding-right: 10px;
}

/*=== FORM ===*/
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  box-shadow:  2px 2px 2px -4px rgba(63,63,63,.5);
  outline: none;
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

input::placeholder {
  color: rgba(177, 177, 177, 0.678);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* trazer de volta o icone lateral */
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

textarea {
  max-height: 150px;
  max-width: 734px;
}

input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

button[type="submit"],
a.button {
  padding: 8px 32px;
  background-color: var(--color-ambev);
  color: #fff;
  border-radius: 4px;
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  transition: all 0.2s;
}

a.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

button[type="submit"]:hover,
a.button:hover {
  background-color: #000000a9;
}

#form-delete button[type="submit"] {
  margin-top: 8px;
  /*background-color: rgb(216, 13, 13);*/
  background-color: lightgray;
}

#form-delete button[type="submit"]:hover {
  background-color: rgba(168, 6, 6, 0.829);
}

/* INDEX */
.table-container {
  display: block;
  padding: 40px;
  box-sizing: border-box;
}

.table-container table {
  border-spacing: 0;
}

.table-container thead tr th {
  text-align: left;
}

td, th {
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

th {
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr td:last-child a,
.table-container > a {
  background-color: var(--color-ambev);
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  border-radius: 4px;
}

.table-container > a {
  margin-bottom: 16px;
  display: inline-block;
}

.table-container thead tr th:last-child,
td:last-child {
  text-align: center;
}

/* MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* PDF UPLOAD */
.details .item #pdf-upload {
  position: relative;
  display: block;
  overflow: hidden;
  font-size: 14px;
}

.details .item #pdf-upload p{
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 2px -6px #333;
  background-color: var(--color-secundary);
  color: black;
  width: 50%;
  text-align: center;

  text-transform: uppercase;
}

.details .item #pdf-input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}

.details .item #pdf-preview {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  width: 100%;
  margin: 8px 0;
}

.details .item #pdf-preview img {
  width: 10%;
  height: 75px;

  object-fit: cover;
}

#pdf-preview .pdf {
  position: relative;
}

#pdf-preview .pdf i {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  color: red;
  /*width: 100%;*/
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 500%;
  cursor: pointer;
  transition: opacity 200ms;
  opacity: 0;
}

#pdf-preview .pdf:hover i {
  opacity: 1;
}

/* VALIDADE ERRORS */
.details .item .error {
  background-color: #e74c3c;
  padding: 4px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
}