@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap";

:root {
  --color-ambev: #000;
  --color-secundary: rgb(194, 193, 191);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: var(--color-secundary);
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: #fff;
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
}

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: #777;
  position: relative;
}

.links a.active {
  font-weight: bold;
  color: var(--color-ambev);
}

.links a:hover {
  color: var(--color-ambev);
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-ambev);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}

/*=== HOME ===*/
.home h1 {
  width: 100%;
  padding: 32px;
  text-align: center;
  box-sizing: border-box;
  font-size: 3.8em;
}

.home p {
  text-align: center;
  box-sizing: border-box;
  font-size: 1.8em;
}

/*=== CARD ===*/
.card {
  background-color: #fff;
  width: 800px;
  min-height: 400px;
  border-radius: 6px;

  margin: 45px auto;

  /* sombra do card */
  box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

  /* animation card */
  animation-name: up;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}

/*=== DETAILS ===*/
.details {
  padding: 32px;
}

.details .item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}

.details .item:last-child {
  border: none;
} 

.details h3,
.details .item div:nth-child(1) {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  letter-spacing: 0.7px;
  font-weight: normal;
}

.details .item div:nth-child(2) {
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

.details h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-rocket);
}

.details .item div:nth-child(2) span {
  padding: 8px 16px;
  background-color: var(--color-secundary);
  border-radius: 16px;
  color: #777;
  margin-right: 4px;
  margin-top: 8px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

.details .item-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details .item-button  button:hover {
  background: #777;
  transition: width 200ms ease-in-out;
}

.details .item-button div:nth-child(1) {
  padding-right: 10px;
}

/*=== FORM ===*/
input {
  width: 100%;
  outline: none;
  color: #555;
  font-weight: bold;
  font-size: 18px;
}

input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

button[type="submit"] {
  padding: 8px 32px;
  background-color: var(--color-ambev);
  color: #fff;
  border-radius: 4px;
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
}